# Core data
pandas==2.2.2
numpy==1.26.4

# ML — classical
scikit-learn==1.4.2
imbalanced-learn==0.12.3

# Network / packet processing
scapy==2.5.0
pyshark==0.6

# Explainability
shap==0.45.0

# Experiment tracking
mlflow==2.12.2

# Visualisation
matplotlib==3.8.4
seaborn==0.13.2

# Notebook
jupyter==1.0.0
ipykernel==6.29.4

# Testing
pytest==8.1.1
